#para {
    margin-top: 2rem;
    font-size: 19px;
}
.button {
    border-radius: 5px;
    background-color: azure;
    font-size: 20px;
    display: none;
}
.button:hover{
    background-color: rgb(64, 78, 73);
}
.green{
    color: green;
}